
<!DOCTYPE html>
<html lang="pl">
		
<head>
	<title>Beside The Park</title>
	<meta charset="UTF-8" />
	<meta http-equiv="author" content="Aleksandra Łozińska"/>
	<meta name="viewport" content="initial-scale=1"/>
	<link href="../static/style/index.css" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>

<body>

<!-- HEADER -->

	<header class="c-header c-header--transparent">
		<h1 class="c-h1">Beside the park</h1>
		<nav class="c-nav">
			<form class="c-nav__form" id="form">
				<input class="c-nav__input" placeholder="search" value=""></div>
			</form>
			<img src="../static/img/Web_0001_Search.png" class="o-nav__img" id="search">
			<img src="../static/img/Web_0000_Menu.png" class="o-nav__img" id="menu">
			<div class="c-nav__menu">
				<a href="#home" class="c-nav__link">Home</a>
				<a href="#about" class="c-nav__link">About</a>
				<a href="#details" class="c-nav__link">Details</a>
			</div>
		</nav>
	</header>

<!-- MAIN WRAPPER -->

	<main class="main-wrapper">
		<img src="../static/img/Web_0007_iPhone.png" class="c-phone">	

<!-- HOME SECTION -->

		<section class="c-home o-section" id="home">
			<div class="c-home__content">
				<h2 class="c-h2">Lorem impsum</h2>
				<p class="c-home__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>

		</section>

<!-- ABOUT SECTION -->

		<section class="c-about o-section" id="about">
			<h3 class="c-h3">Lorem impsum</h3>	
			<div class="c-about__container">
				<div class="o-about__item o-about__item--first">
					<p class="o-about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p class="o-about__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
					<p class="o-about__text">eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
				</div>
				<div class="o-about__item o-about__item--second">
					<p class="o-about__text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
					<p class="o-about__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				</div>
			</div>
		</section>

<!-- DETAILS SECTION -->

		<section class="c-details o-section" id="details">
			<div class="c-details__container">
				<div class="o-details__item o-details__item--firstRow o-details__item--big c-details__item--grey">
					<h4 class="o-h4">Built to last</h4>
					<p class="o-details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .</p>
					<p class="o-details__link o-details__link--firstRow">Find Out More</p>
				</div>
				<div class="o-details__item o-details__item--firstRow o-details__item--small c-details__item--darkGreen">
					<h4 class="o-h4">Our clients</h4>
					<p class="o-details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
					<p class="o-details__link o-details__link--firstRow">Get insights</p>
				</div>
				<div class="o-details__item o-details__item--secondRow o-details__item--big c-details__item--blue">
					<h4 class="o-h4">Sign up & see why</h4>
					<p class="o-details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .</p>
					<p class="o-details__link o-details__link--secondRow">Get started now</p>
				</div>
				<div class="o-details__item o-details__item--secondRow o-details__item--small c-details__item--green">
					<h4 class="o-h4">Perfect pictures</h4>
					<p class="o-details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .</p>
					<p class="o-details__link o-details__link--secondRow">Find Out More</p>
				</div>
			</div>
		</section>
	
	</main>

<script src="../scripts//index.js"></script>

</body>
</html>
